

/*** Visual ***/
#visual{position:relative; width:100%; height:320px; z-index:1; background:#f6f6f8 url("../img/visual_img03.jpg")center right no-repeat;}

#visual .sub_imgbox li{width:100%; height:100%;}
#visual .sub_imgbox li .section{display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
#visual .sub_imgbox li.action .section{transform:scale(1); -ms-transform:scale(1); -webkit-transform:scale(1); }
#visual .video-background{background:#000; position:absolute; top:0; right:0; bottom:0; left:0; z-index:-99;}
#visual .video-background:after{height:114px; width:100%; position:absolute; bottom:0; left:0; content:""; opacity:1; font-family:'Montserrat', sans-serif; background:#000; text-align:center; color:#fff; font-size:15px;}
#visual .video-foreground, .video-background iframe{position:absolute; top:0; left:0; width:100%; height:100%; pointer-events:none; min-width:1000px;}

#visual .sub_imgbox{height:100%;}
#visual .sub_imgbox .slick-list , #visual .sub_imgbox .slick-track {height:100%;}
#visual .section{width:100%; height:100%; position:relative; overflow:hidden; background-position:center; background-size:cover; border:0;}

#visual .visual_txt{position:absolute; top:50%; transform:translateY(-50%); left:50%; margin-left:-600px; z-index:2000; height:auto;}
	#visual .visual_txt p.txt{position:relative; font-weight:300; font-size:24px; color:#333; line-height:140%; box-sizing:border-box; letter-spacing:-0.5pt;}
	#visual .visual_txt p.txt span.point{font-weight:700; font-size:45px; font-style:normal; background:linear-gradient(to right, #50b848, #a5ce39); -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
	#visual .visual_txt p.txt span.point i{font-style:normal;}

#visual .scroll_down{position:absolute; bottom:0; left:50%; width:50px; margin-left:-25px; text-align:center; z-index:1010}
#visual .scroll_down a{display:block; position:relative; text-align:center; width:50px; padding-bottom:30px; font-size:13px; letter-spacing:0.3pt; color:#fff; text-align:center; box-sizing:border-box; cursor:pointer; transition:all 0.3s;}
#visual .scroll_down a:before{position:absolute; bottom:0; left:50%; display:block; content:""; overflow:hidden; width:1px; background:#fff; height:30px;}
#visual .scroll_down a:after{position:absolute; bottom:-4px; left:50%; margin-left:-4px; display:block; content:""; width:8px; height:8px; border-radius:100%; background:#fff; animation:down_ani 2s ease-in-out infinite;}
#visual .scroll_down a:hover{transition:all 0.3s;}

/*** 공통 ***/
#contents{position:relative; overflow:hidden; clear:both;}
#contents h2{position:relative; letter-spacing:0.3pt; font-size:30px; margin-bottom:20px; font-weight:600; line-height:100%; color:#fff;}
#contents p.stitle{position:relative; color:#222; letter-spacing:-0.7pt; line-height:170%; font-weight:300;}
#contents p.stitle br.mo_br{display:none}
#contents p.eng{display:block; letter-spacing:0.5pt; font-weight:800; color:#222;}

.more_btn{font-family:'Raleway', sans-serif; letter-spacing:0.3pt; font-size:0.9em; font-weight:700; line-height:100%; color:#222; padding-right:37px; box-sizing:border-box; background-image:url("../img/arrow_b.png"); background-position:right; background-repeat:no-repeat;  transition:all .3s ease;}
.more_btn.white{color:#fff; background-image:url("../img/arrow_w.png");}
.more_btn:hover{color:#fff; background-image:url("../img/arrow_y.png"); background-position:90%;}
.cont_pad1{padding:180px 0 250px 0;}
.cont_pad2{padding:180px 0;}


.content01{width:100%; margin:0 auto; position:relative; overflow:hidden; padding:40px 0;}
#contents ul.iconWrap{display:flex; justify-content:space-between;}
#contents ul.iconWrap li{text-align:center; width:50%; box-sizing:border-box; padding:20px 0; border:2px solid #eee5e6; border-radius:10px;}
#contents ul.iconWrap li:nth-child(2){margin:0 60px;}
#contents ul.iconWrap li dt{height:140px; margin-bottom:10px; line-height:140px; overflow:hidden;}
#contents ul.iconWrap li dd.txt{font-size:20px; font-weight:400; color:#333;}
#contents ul.iconWrap li dd.val{font-size:36px; font-weight:500; letter-spacing:0; color:#333;}

#contents .graph{display:flex; flex-direction:column; padding:30px 0;}
#contents .graph .graphGroup{display:flex; margin:30px 0;}
#contents .graph .graphGroup section{width:50%;}
#contents .graph .graphGroup section h3{font-size:25px; margin-bottom:30px; color:#333;}


