/* 폰트임 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('font.css'); 
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;line-height:155%;letter-spacing:normal}
body,html{width:100%; height:100%; font-size:18px; color:rgb(54, 54, 54); background:#fff; font-family:'NanumSquare';}

ol,ul,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table {border-collapse:separate;border-spacing:0; font-size:17px;}
table caption {overflow:hidden; font-size:0; line-height:0; font-size:17px;}
tbody,tfoot,thead,tr,th,td {margin:0;line-height:155%;letter-spacing:normal;}
dt{display:block;}
hr{display:none;}
a{cursor:pointer;text-decoration:none;color:#666;}
address{font-style:normal;}
input,select{vertical-align:middle;}
img{vertical-align:middle; max-width:100%;}
select{ -webkit-appearance: none;  background: #fff url('/img/foot_select_arrow.gif') no-repeat right 5px center;}
input:focus, textarea:focus, button:focus {outline:none;} /* 크롬에서 커서 클릭시 파란색 테두리 제외*/
input[type=text],input[type=button], input[type=submit] {-webkit-appearance: none;}

span{font:inherit; line-height:inherit}

/* 레이아웃 */
#wrap {position:relative; width:100vw; height:100vh;}

.width1200{position:relative; width:1200px; margin:0 auto; box-sizing:border-box;}
.show640 {display:none !important}
.none640 {display:block !important}
.eng{font-family: 'GmarketSansMedium';}

/*chart*/
.highcharts-a11y-proxy-button.highcharts-no-tooltip{display:none !important;}
.highcharts-button{display:none !important;}
#update01 .highcharts-button, #update02 .highcharts-button, #update03 .highcharts-button, #update04 .highcharts-button{display:block !important;}
.highcharts-credits{display:none;}
.highcharts-root{width:100%; height:auto !important;}
.highcharts-a11y-proxy-container .highcharts-legend-item{display:none !important;}
.highcharts-background{background:none; fill:none;}

/* Header */
#header{position:relative; top:0; width:100%; border-bottom:1px solid #ddd; clear:both; z-index:2200; transition:all 0.3s; background:#fff; overflow:hidden;}
	#header.fixed{position:fixed; top:0; transition: all 0.3s;}
	#header.nofixed{position:fixed; top:-110px; transition: all 0.3s;}

#header .header_in{position:relative; margin:0 auto; width:1200px;}
#header h1{position:relative; line-height: 1; float:left; z-index:10; width:100%; padding:20px 0 20px; border-bottom:1px solid #ddd;}
#header h1 a{line-height: 1; display:block; text-align: center; color:#fff;}
#header h1 a img{max-width:100%;}

/* PC 메뉴 */
#gnb{position:relative;}
#gnb .menu{font-size:0; display:flex; width:100%; text-align:center; justify-content:space-around;}
#gnb .menu > li{display:block; padding:14px 0; width:100%; vertical-align:top; border-right:1px solid #ddd; box-sizing:border-box;}
#gnb .menu li:nth-child(1){border-left:1px solid #ddd;}
#gnb .menu li a{font-family:'GmarketSansMedium'; letter-spacing: 0.5pt; font-size:1.2rem; font-weight:500; display:block; line-height:25px; color:#333; text-align:center;}
#gnb .menu li a span{display:block; font-size:13px; opacity:.7;}
#gnb .menu li a:hover{transition:all .5s ease; color:#51b848;}
#gnb .menu li .menu_depth {height:0; opacity:0;  padding-top:22px; overflow:hidden; transition:all .5s ease; text-align:center;}
#gnb .menu li .menu_depth li a{text-align: center; font-family:'GmarketSansMedium', sans-serif; display:block; width:100%; height:100%; font-size:15px; line-height: 1; padding:10px 0; color:#fff; opacity:0.6; font-weight: 400; transition: all .3s ease; letter-spacing: -0.5pt;}
#gnb .menu li .menu_depth li.eng a{letter-spacing:0.3pt}
#gnb .menu li .menu_depth li a:hover{color:#51b848; text-decoration:underline; transition: all .3s ease; opacity:1;}

#header .topUtile{width:100%; background:#777;}
#header .topUtile ul{width:1200px; margin:0 auto; padding:2px 0 6px; display:flex; justify-content:right;}
#header .topUtile ul li{margin-left:10px;}
#header .topUtile ul li a{display:blcok; font-size:15px; font-weight:400; color:#fff;}
#header .topUtile ul li a:hover{transition:all .5s ease; color:#333;}

#header .bg{position:fixed; width:100%; height:0; top:0; left:0; transition:all .3s ease; z-index:1; opacity:0; background:#f7f7f7;}
#header.none .bg, #header.fixed .bg{height:95px; opacity:0.8;}
#header.on .bg{height:325px; opacity:0.8;}
#header.on #gnb .menu li .menu_depth{height:150px; opacity:1; padding:70px 0 0 0; transition:all .3s ease;}
#header.on #gnb .menu li:nth-child(3) .menu_depth{padding:54px 0;}

#subTitle{background:url("../img/sub03.png")center center no-repeat; background-size:cover; padding-top:72px; box-sizing:border-box; width:100%; height:240px; text-align:center;}
#subTitle h2{font-size:35px; color:#555; line-height:144%;font-family:'GmarketSansMedium';}
#subTitle p{font-size:20px; color:#666;}

#banner{width:100%; position:relative; border-top:1px solid #ddd; box-sizing:border-box; overflow:hidden;}
#banner .banner_in{width:1200px; margin:0 auto; overflow:hidden; padding:40px 0; box-sizing:border-box;}
#banner ul li{float:left; padding-right:20px; box-sizing:border-box;}
#banner ul li a{border:1px solid #ddd; width:180px; height:60px; line-height:55px; padding:0 10px; box-sizing:border-box; overflow:hidden; display:block;}
#banner ul li a img{width:100%; height:auto; background-size:contain; background-position:center; background-repeat:no-repeat; transition:all .3s;}
#banner .slick-list{overflow:hidden;}
#banner .slick-arrow:first-of-type{position:absolute; font-size:0; width:56px; height:12px; border:none; vertical-align:middle; text-align:center; background:#fff url('/common/img/prev_line.png') center center no-repeat; background-size:100%; top:50%; transform:translateX(-50%); left:-56px; z-index:10; cursor:pointer;}
#banner .slick-arrow:last-of-type{position:absolute; font-size:0; width:56px; height:12px; border:none; vertical-align:middle; text-align:center; background:#fff url('/common/img/next_line.png') center center no-repeat; background-size:100%; top:50%; transform:translateX(-50%); right:-96px; z-index:10; cursor:pointer;}

/*** Footer ***/
#footer{position:relative; background:#555; overflow:hidden; font-size:15px; color:#666;}
#footer .footer_in{padding:30px 0; overflow:hidden; margin:0 auto; width:1200px; display:flex;}
#footer ul{display:flex;}
#footer ul li{margin-right:10px;}
#footer ul li a{color:#f7f7f7; font-weight:500; margin-bottom:10px; display:block;}
#footer p{color:#ddd;}
#footer span{color:#aaa; margin-top:5px; display:block;}
#footer .footer_logo{margin-right:40px;}
#footer .footer_logo img{opacity:1; margin-top:0; transform:scale(.9);}

#quick{position:fixed; top:50%; transform:translateY(-50%); right:100px; background:#fff; border:1px solid #f7f7f7; box-shadow:1px 1px 10px 1px rgb(0 0 0 / 10%); border-radius:20px; text-align:center;}
#quick ul{display:flex; flex-direction:column;}
#quick ul li{padding:10px; margin:0 10px; box-sizing:border-box; border-bottom:1px dashed #ddd;}
#quick ul li:last-child{border-bottom:0;}
#quick ul li span{display:block; color:#333; font-size:16px; margin-bottom:6px; margin-top:2px;}
#quick ul li p{font-size:20px; font-weight:500; margin-top:10px; color:#333;}

/* Start-슬릭기본 */
.slick-slider{position: relative;display: block;box-sizing: border-box;
	-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;
			touch-action: pan-y;-webkit-tap-highlight-color: transparent;	}
.slick-list{position: relative;display: block;margin: 0;padding: 0;  width:100%;}
.slick-slide{display: none;float: left; width:100%; }
.slick-initialized .slick-slide{display: block;}
/* End-슬릭기본 */

